/* fonts */

@font-face {
    font-family: "Montserrat";
    src: local('Montserrat-ExtraBold'),
        url("../fonts/Montserrat-ExtraBold.woff2") format("woff2"),
        url("../fonts/Montserrat-ExtraBold.woff") format("woff");
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Montserrat";
    src: local('Montserrat-Bold'),
        url("../fonts/Montserrat-Bold.woff2") format("woff2"),
        url("../fonts/Montserrat-Bold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Montserrat";
    src: local('Montserrat-SemiBold'),
        url("../fonts/Montserrat-SemiBold.woff2") format("woff2"),
        url("../fonts/Montserrat-SemiBold.woff") format("woff");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Montserrat";
    src: local('Montserrat-Medium'),
        url("../fonts/Montserrat-Medium.woff2") format("woff2"),
        url("../fonts/Montserrat-Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Montserrat";
    src: local('Montserrat-Regular'),
        url("../fonts/Montserrat-Regular.woff2") format("woff2"),
        url("../fonts/Montserrat-Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Montserrat";
    src: local('Montserrat-Light'),
        url("../fonts/Montserrat-Light.woff2") format("woff2"),
        url("../fonts/Montserrat-Light.woff") format("woff");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

/* [LOGIN_FORM] */

html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat';
    background: linear-gradient(#141e30, #243b55);
}

.login-box {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, .5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
    border-radius: 10px;
}

.login-box h2 {
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
}

.login-box .user-box {
    position: relative;
}

.login-box .user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
}

.login-box .user-box label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
}

.login-box .user-box input:focus~label,
.login-box .user-box input:valid~label {
    top: -20px;
    left: 0;
    color: #03e9f4;
    font-size: 12px;
}

.login-box form .register-btn,
.login-box form .submit-btn {
    width: 100%;
    text-align: center;
    position: relative;
    display: inline-block;
    padding: 10px 0;
    color: #03e9f4;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    letter-spacing: 4px;
    cursor: pointer;
}

.login-box form .submit-btn:hover {
    background: #15d524;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #15d524,
        0 0 25px #15d524,
        0 0 50px #15d524,
        0 0 100px #15d524;
}

.login-box form .register-btn:hover {
    background: #03e9f4;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #03e9f4,
        0 0 25px #03e9f4,
        0 0 50px #03e9f4,
        0 0 100px #03e9f4;
}

.login-box .register-btn span,
.login-box .submit-btn span {
    position: absolute;
    display: block;
}

.submit-btn span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #15d524);
    animation: btn-anim1 1s linear infinite;
}

@keyframes btn-anim1 {
    0% {
        left: -100%;
    }

    50%,
    100% {
        left: 100%;
    }
}

.submit-btn span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #15d524);
    animation: btn-anim2 1s linear infinite;
    animation-delay: .25s
}

@keyframes btn-anim2 {
    0% {
        top: -100%;
    }

    50%,
    100% {
        top: 100%;
    }
}

.submit-btn span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #15d524);
    animation: btn-anim3 1s linear infinite;
    animation-delay: .5s
}

@keyframes btn-anim3 {
    0% {
        right: -100%;
    }

    50%,
    100% {
        right: 100%;
    }
}

.submit-btn span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #15d524);
    animation: btn-anim4 1s linear infinite;
    animation-delay: .75s
}

@keyframes btn-anim4 {
    0% {
        bottom: -100%;
    }

    50%,
    100% {
        bottom: 100%;
    }
}

.register-btn span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #03e9f4);
    animation: btn-anim1 1s linear infinite;
}

@keyframes btn-anim1 {
    0% {
        left: -100%;
    }

    50%,
    100% {
        left: 100%;
    }
}

.register-btn span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #03e9f4);
    animation: btn-anim2 1s linear infinite;
    animation-delay: .25s
}

@keyframes btn-anim2 {
    0% {
        top: -100%;
    }

    50%,
    100% {
        top: 100%;
    }
}

.register-btn span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #03e9f4);
    animation: btn-anim3 1s linear infinite;
    animation-delay: .5s
}

@keyframes btn-anim3 {
    0% {
        right: -100%;
    }

    50%,
    100% {
        right: 100%;
    }
}

.register-btn span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #03e9f4);
    animation: btn-anim4 1s linear infinite;
    animation-delay: .75s
}

@keyframes btn-anim4 {
    0% {
        bottom: -100%;
    }

    50%,
    100% {
        bottom: 100%;
    }
}

.login-box form .submit-btn {
    color: #15d524;
}

.submit-btn {
    font: 700 20px/20px 'Montserrat'
}

.reset-btn {
    background-color: transparent;
    border: none;
    text-decoration: underline;
    cursor: pointer;
}

/* [CHAT] */

.chat-container {
    position: relative;
    z-index: 999;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 60px;
    padding: 2rem;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.chat-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.chat-header h1 {
    font-size: 2rem;
}

.btn {
    display: inline-block;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
    font-size: 1rem;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #555;
}

.chat-main {
    display: flex;
    height: 530px;
}

.chat-sidebar {
    overflow-y: scroll;
    flex-basis: 20%;
    padding-right: 1rem;
}

.chat-sidebar h3 {
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
}

.chat-sidebar ul {
    list-style: none;
}

.chat-sidebar li {
    margin-bottom: 0.5rem;
    font-size: 1.1rem;
}

.chat-messages {
    flex: 1;
    padding: 1rem;
    overflow-y: scroll;
    overflow-x: hidden;
}

.message {
    margin-bottom: 1rem;
}

.message p {
    margin-bottom: 0.5rem;
}

.message p.meta {
    font-size: 0.8rem;
    color: #555;
}

.chat-form-container {
    margin-top: 1rem;
}

#chat-form input[type="text"] {
    flex: 1;
    padding: 0.5rem;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
}

#chat-form button[type="submit"] {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#chat-form button[type="submit"]:hover {
    background-color: #555;
}

.message {
    background-color: #ffffffa8;
    padding: 1rem;
    margin: 0.5rem 0;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    max-width: 70%;
    position: relative;
    animation-duration: 0.5s;
    animation-fill-mode: both;
    animation-name: slideInRight;
}

.message1 {
    animation-name: slideInOpacity;
}

@keyframes slideInRight {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }

    100% {
        transform: translateX(0%);
        opacity: 1;
    }
}

@keyframes slideInOpacity {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


.message p {
    margin-bottom: 0.5rem;
    font-size: 1.1rem;
}

.message p.meta {
    font-size: 0.8rem;
    color: #555;
}

.message p.user {
    font-weight: bold;
    color: #333;
}

.user-list {
    margin-top: 1rem;
    list-style: none;
    padding: 0;
}

.user-list li {
    margin-right: 1rem;
    margin-bottom: 1rem;
    padding: 0.5rem;
    border-radius: 5px;
    background-color: #f4f4f4;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
}

.user-list li img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 0.5rem;
}

.user-list li span {
    font-size: 1.1rem;
    color: #333;
}

.message-input {
    display: flex;
    margin-top: 1rem;
}

.message-input input[type="text"] {
    flex-grow: 1;
    margin-right: 1rem;
    padding: 0.5rem;
    border-radius: 5px;
    border: none;
    background-color: #f4f4f4;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    outline: 0;
}

.message-input input[type="text"] {
    width: 357px;
    flex-grow: 1;
    margin-right: 1rem;
    padding: 0.5rem;
    border-radius: 20px;
    border: none;
    background: linear-gradient(to bottom right, #f6f6f6, #e6e6e6);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

.message-input button[type="submit"] {
    width: 100px;
    border-radius: 5px;
    border: none;
    background-color: #007bff;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
}

.message-input button[type="submit"]:hover {
    background-color: #0056b3;
}

.chat-container {
    background: linear-gradient(to right, #bdc3c7, #2c3e50);
    animation: gradientBG 10s ease infinite;
}

@keyframes gradientBG {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

@keyframes move_wave {
    0% {
        transform: translateX(0) translateZ(0) scaleY(1)
    }

    50% {
        transform: translateX(-25%) translateZ(0) scaleY(0.55)
    }

    100% {
        transform: translateX(-50%) translateZ(0) scaleY(1)
    }
}

.waveWrapper {
    overflow: hidden;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
}

.waveWrapperInner {
    position: absolute;
    width: 100%;
    overflow: hidden;
    height: 100%;
    bottom: -1px;
    background-image: linear-gradient(to top, #86377b 20%, #27273c 80%);
}

.bgTop {
    z-index: 15;
    opacity: 0.5;
}

.bgMiddle {
    z-index: 10;
    opacity: 0.75;
}

.bgBottom {
    z-index: 5;
}

.wave {
    position: absolute;
    left: 0;
    width: 200%;
    height: 100%;
    background-repeat: repeat no-repeat;
    background-position: 0 bottom;
    transform-origin: center bottom;
}

.waveTop {
    background-size: 50% 100px;
}

.waveAnimation .waveTop {
    animation: move-wave 3s;
    -webkit-animation: move-wave 3s;
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
}

.waveMiddle {
    background-size: 50% 120px;
}

.waveAnimation .waveMiddle {
    animation: move_wave 10s linear infinite;
}

.waveBottom {
    background-size: 50% 100px;
}

.waveAnimation .waveBottom {
    animation: move_wave 15s linear infinite;
}

.chat-sidebar::-webkit-scrollbar {
    width: 0;
}

.chat-sidebar {
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: rgba(0, 0, 0, 0.2) transparent;
}

.chat-sidebar::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.chat-sidebar::-webkit-scrollbar-track {
    background-color: transparent;
}

.status-online {
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: green;
    border-radius: 50%;
    margin-left: 5px;
}

.status-offline {
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: red;
    border-radius: 50%;
    margin-left: 5px;
}

.btn-update {
    padding: 0.5rem 5.5rem;
}

.delete-btn {
    width: 130px;
    height: 40px;
    line-height: 42px;
    margin-right: 50px;
    padding: 0;
    border: none;
    background: rgb(255, 27, 0);
    background: linear-gradient(0deg, rgba(255, 27, 0, 1) 0%, rgba(251, 75, 2, 1) 100%);
}

.delete-btn:hover {
    color: #f0094a;
    background: transparent;
    box-shadow: none;
}

.delete-btn:before,
.delete-btn:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 2px;
    width: 0;
    background: #f0094a;
    box-shadow:
        -1px -1px 5px 0px #fff,
        7px 7px 20px 0px #0003,
        4px 4px 5px 0px #0002;
    transition: 400ms ease all;
}

.delete-btn:after {
    right: inherit;
    top: inherit;
    left: 0;
    bottom: 0;
}

.delete-btn:hover:before,
.delete-btn:hover:after {
    width: 100%;
    transition: 800ms ease all;
}


/* 6 */
.change-btn {
    background: rgb(247, 150, 192);
    background: radial-gradient(circle, rgba(247, 150, 192, 1) 0%, rgba(118, 174, 241, 1) 100%);
    line-height: 42px;
    padding: 0;
    border: none;
}

.change-btn span {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
}

.change-btn:before,
.change-btn:after {
    position: absolute;
    content: "";
    height: 0%;
    width: 1px;
    box-shadow:
        -1px -1px 20px 0px rgba(255, 255, 255, 1),
        -4px -4px 5px 0px rgba(255, 255, 255, 1),
        7px 7px 20px 0px rgba(0, 0, 0, .4),
        4px 4px 5px 0px rgba(0, 0, 0, .3);
}

.change-btn:before {
    right: 0;
    top: 0;
    transition: all 500ms ease;
}

.change-btn:after {
    left: 0;
    bottom: 0;
    transition: all 500ms ease;
}

.change-btn:hover {
    background: transparent;
    color: #ff9800;
    box-shadow: none;
}

.change-btn:hover:before {
    transition: all 500ms ease;
    height: 100%;
}

.change-btn:hover:after {
    transition: all 500ms ease;
    height: 100%;
}

.change-btn span:before,
.change-btn span:after {
    position: absolute;
    content: "";
    box-shadow:
        -1px -1px 20px 0px rgba(255, 255, 255, 1),
        -4px -4px 5px 0px rgba(255, 255, 255, 1),
        7px 7px 20px 0px rgba(0, 0, 0, .4),
        4px 4px 5px 0px rgba(0, 0, 0, .3);
}

.change-btn span:before {
    left: 0;
    top: 0;
    width: 0%;
    height: .5px;
    transition: all 500ms ease;
}

.change-btn span:after {
    right: 0;
    bottom: 0;
    width: 0%;
    height: .5px;
    transition: all 500ms ease;
}

.change-btn span:hover:before {
    width: 100%;
}

.change-btn span:hover:after {
    width: 100%;
}

.custom-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 130px;
    height: 40px;
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Montserrat';
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
        7px 7px 20px 0px rgba(0, 0, 0, .1),
        4px 4px 5px 0px rgba(0, 0, 0, .1);
    outline: none;
}

.buttons {
    display: flex;
    justify-content: center;
}

.from-me {
    background-color: initial;
}

.button-update {
    margin-top: 20px;
    background-color: #cc313170;
}

.btn-users-update {
    margin-top: 10px;
    padding: .5rem 4.69rem;
}